<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= current_page.data.title || 'Exodus Privacy' %></title>
	<meta name="description" content="Exodus Privacy analyzes privacy concerns in Android applications.">

	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="/images/favicons/manifest.json">
	<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	<meta  property="og:type" content="website">
	<meta  property="og:site_name" content="Exodus-Privacy">
	<meta  property="og:description" content="Analyzes privacy concerns in Android applications">
	<meta  property="og:image" content="/images/logo.png">

	<%= stylesheet_link_tag 'site' %>
	<%= javascript_include_tag 'site' %>
</head>
<body lang="en">
<%= yield %>



<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://stats.imirhil.fr";
    _paq.push(['setTrackerUrl', u+'/js/']);
    _paq.push(['setSiteId', '6']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'/js/'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://stats.imirhil.fr/js/?idsite=6&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
