<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<header class="masthead">
				<div class="inner">
					<nav class="nav">
						<a href="/index.html#what">What</a>
						<a href="/index.html#who">Who</a>
						<a href="/index.html#press">Press</a>
						<a href="/index.html#help">Help us</a>
					</nav>
				</div>
			</header>
		</div>
		
		<div class="container">
			<h1>What is a static analysis</h1>
			<hr>
			<p class="lead">
				A static analysis involves finding tracker signature in binary files contained in an APK file without running the application.
				APK files are directly retrieved from Google Play.
				The tracker signature is basically a domain name represented as a string <i>e.g.</i> <code>smartadserver\.com</code>.
				This domain is usually the destination server where collected data are sent. 
				Exodus platform knows one or more signatures for each tracker.
				Finding the signature of a tracker in an application implies that the tracker is probably embedded in the application but does not 
				prove that the tracker is entirely embedded or used. A network analysis is required to confirm the execution of the tracker code. If the application makes DNS queries 
				for the domain associated to a given tracker and if data are sent to this server, it proves that the tracker has been used and has collected data.
			</p>
			<p class="lead">
				<h2>Try it at home</h2>
				<asciinema-player src="/files/static_analysis.json" cols="90" rows="37"></asciinema-player>
			</p>
		</div>
	</div>
</div>
