<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<header class="masthead">
				<div class="inner">
					<nav class="nav">
						<a href="/index.html#what">What</a>
						<a href="/index.html#who">Who</a>
						<a href="/index.html#press">Press</a>
						<a href="/index.html#help">Help us</a>
					</nav>
				</div>
			</header>
		</div>
		
		<div class="container">
			<h1>Join our chaotic mailing list</h1>
			<hr>
			<p class="lead press-lead-justify">
			To join the list send an email to <b>chaos+subscribe@exodus-privacy.eu.org</b>.
			</p>
			<p class="lead press-lead-justify">
			To unsubscribe from the mailing list you just have to send an email to <b>chaos+unsubscribe@exodus-privacy.eu.org</b>.
			</p>
		</div>
	</div>
</div>
