---
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Lint all Markdown files
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Lint changelog file
      uses: docker://avtodev/markdown-lint:v1.5
      with:
        config: './.markdownlint.json'
        args: '.'
        ignore: './themes'
